<h1 translate>sub-page.title.events</h1>

<div *ngIf="event">
  <div class="card">
    <div class="card-img">
      <img src="">
    </div>
    <div class="card-header">{{event.name}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2" translate>sub-page.event.description.organizer</div>
        <div class="col-sm-3">{{event.owner[0].firstName}} {{event.owner[0].lastName}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2" translate>sub-page.event.description.contact</div>
        <div class="col-sm-3">{{event.owner[0].email}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2" translate>sub-page.event.description.date-of-event</div>
        <div class="col-sm-3">{{event.event_date | date: 'dd-MM-yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2" translate>sub-page.event.description.hour-of-event</div>
        <div class="col-sm-3">{{event.event_date | date: 'HH:mm:ss'}}</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" translate>sub-page.event.participants.title</div>
    <div class="card-body">
      <div *ngFor="let participant of event.participants; let i = index" >
        <div class="row">
          <div class="col-sm-2">{{(i + 1)}}. <b>{{participant.firstName}} {{participant.lastName}}</b></div>
          <div class="fa fa-envelope col-sm-2"> {{participant.email}}</div>
          <div class="fa fa-phone col-sm-2"> {{participant.mobile}} </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" translate>sub-page.event.join-form.title</div>
    <div class="card-body">
      <form #form='ngForm' (ngSubmit)="onSubmit(form)" novalidate>
        <div>
          <label class="col-sm-2" translate>sub-page.event.join-form.first-name</label>
          <input name="firstName" type="text" ngModel required>
        </div>
        <div>
          <label class="col-sm-2" translate>sub-page.event.join-form.last-name</label>
          <input name="lastName" type="text" ngModel required>
        </div>
        <div>
          <label class="col-sm-2" translate>sub-page.event.join-form.email</label>
          <input name="email" type="email" ngModel required>
        </div>
        <div>
          <label class="col-sm-2" translate>sub-page.event.join-form.mobile</label>
          <input name="mobile" type="text" ngModel required>
        </div>
        <button translate>sub-page.event.join-form.submit</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="eventList" class="d-flex flex-wrap">
  <div *ngFor="let event of eventList" class="col-sm-3">
    <div class="card">
      <div class="card-img">
        <img src="">
      </div>
      <div class="card-header">{{event.name}}</div>
      <div class="card-body">
        <div class="row"><div translate>sub-page.event.description.organizer</div><div class="col-sm-1"></div><div>{{event.owner[0].firstName}} {{event.owner[0].lastName}}</div></div>
        <div class="row"><div translate>sub-page.event.description.contact</div><div class="col-sm-1"></div><div>{{event.owner[0].email}}</div></div>
        <div class="row"><div translate>sub-page.event.description.date-of-event</div><div class="col-sm-1"></div><div>{{event.event_date | date: 'dd-MM-yyyy'}}</div></div>
        <div class="row"><div translate>sub-page.event.description.hour-of-event</div><div class="col-sm-1"></div><div>{{event.event_date | date: 'HH:mm:ss'}}</div></div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <div class="pointer mx-auto w-50 p-2 btn-primary text-white text-center"
                   routerLink="/events/{{event.id}}">
                Join!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
