
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/backend/public/bundles/
/backend/var/
/backend/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
